@charset "utf-8";
/* CSS Document */
*{box-sizing: border-box}

body{
	font-family:Cambria,"Times New Roman", "serif";
	width:1000px;
	margin:auto;
	text-align:justify;
	font-size: 15px;
}
header{
	background-color:#99b3ff;
	color:white;
	text-align:center;
	padding: 23px;
	font-size: large;
}
nav{background-color:#ccd9ff;
	text-align:center;
	float:left;
	width:100%;
}
img{float:center;}
a{
	display:block;
	background-color:#ccd9ff;
	color:purple;
	padding:5px;
	float:left;
}
	a:hover{
		background-color:#668cff;
		color:white;
	}
	div{
		display:block;
		background-color:gray;
		float:center;
		width:5px;
		height:5px;
	}
	
	article{
		background-color:#ccd9ff;
		width:1000px;
		height:500px;
		float:left;
		overflow-x:hidden;
		overflow-y: auto;
	}
	footer{
		display:inline-block;
		background-color:cornflowerblue;
		color:white;
		font-size: 20px;
		width:100%;
		padding:5px;
		text-align:center;
	}
